.retail {
  .mat-form-field-suffix {
    padding-bottom: 4px !important;
  }

  .toolbar-search {
    color: white;
    font-size: 12px;

    .dropdown-container {
      width: 400px;

      .icon {
        display: none;
      }

      .default.text {
        color: white !important;
      }

      input.search {
        color: white !important;
      }

      .mat-form-field-underline.highlight {
        border-bottom: initial;
      }      
    }
  }
}
