<div class="retail">
  <toolbar>
    <toolbar-title>Bán lẻ {{desc}}</toolbar-title>
    <right>
      <div class="toolbar-search">
        <typeahead #searchInput [options]="invoices" *ngIf="searching"                 
                   (search)="onSearch($event)"
                   [isLoading]="isLoading"
                   [valueMember]="'id'"
                   [displayMember]="'no'"
                   [label]="'Nhập mã hóa đơn, hoặc mã KH, tên KH, SĐT, email để tìm'"                   
                   [itemTemplate]="itemTemplate"
                   (onSelect)="onSearchSelect($event)"
                   (onKeydown)="onSearchKeydown($event)"
                   (blur)="endSearch()">
          <ng-template #itemTemplate let-item="item">
            <div class="search-item">
              <div class="flex">
                <label>{{item.no}}</label>
                <label>{{item.date | date:'dd/MM/yyyy'}}</label>
              </div>
              <div class="flex">
                <label>{{item.customer.name}}</label>
                <label *ngIf="!!item.customer.phone">{{item.customer.phone}}</label>
                <label>{{item.customer.no}}</label>
              </div>
            </div>            
          </ng-template>
        </typeahead>
      </div>      
    </right>
    <actions>
      <button mat-button (click)="new()">
        <mat-icon>add</mat-icon>
        (F2)
      </button>
      <button mat-button (click)="pay()" [disabled]="!canPay">
        <mat-icon>attach_money</mat-icon>
        (F4)
      </button>
      <button mat-button (click)="save()" [disabled]="!canSave">
        <mat-icon>save</mat-icon>
        (F9)
      </button>
      <button mat-button (click)="view()" [disabled]="!canView">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-button [disabled]="!canPrint">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-button (click)="addCustomer()">
        <mat-icon>person_add</mat-icon>        
      </button>
      <button mat-button (click)="beginSearch()">
        <mat-icon>search</mat-icon>
        (F7)
      </button>
    </actions>
  </toolbar>  
  <div class="row">
    <div class="sixteen wide column">
      <product-lookup #productLookup
                      [(model)]="selectedProductId"
                      (onSelect)="addItem($event)"
                      [clearOnSelect]="true">
      </product-lookup>
    </div>
    <div class="sixteen wide column">
      <grid #grid [columns]="columns"
            [dataSource]="invoice.items"
            [(selectedIndex)]="selectedIndex"
            (rowClick)="onSelect($event)"
            (select)="onSelect($event)"
            (delete)="onDelete($event)"
            [isHeaderSticky]="false"
            [showFooter]="true"
            [height]="height">
      </grid>
    </div>
  </div>  
  <flyout #flyout [closable]="false" [containerSelector]="'.retail'" (onShow)="onFlyoutShow()" (onHide)="onFlyoutHide()">
    <content>
      <qty-editor #qtyEditor *ngIf="flyoutView == 'qtyEditor'"
                  [item]="selectedItem"
                  (commit)="onItemChange($event)"
                  (cancel)="flyout.hide()"
                  ></qty-editor>
      <payment #paymentView *ngIf="flyoutView == 'payment'"
               [invoice]="invoice"
               (commit)="onPaymentCommit($event)"
               (cancel)="flyout.hide()">
      </payment>
      <overview *ngIf="flyoutView == 'overview'" [invoice]="invoice"></overview>
    </content>
  </flyout>  
</div>
