<div class="retail">
  <toolbar>
    <toolbar-title>Bán lẻ</toolbar-title>
    <actions>
      <button mat-button (click)="pay()">
        <mat-icon>attach_money</mat-icon>
        (F2)
      </button>
      <button mat-button (click)="addCustomer()">
        <mat-icon>person_add</mat-icon>
        (F9)
      </button>
      <button mat-button><mat-icon>print</mat-icon></button>
    </actions>
  </toolbar>  
  <div class="row">
    <div class="sixteen wide column">
      <product-lookup #productLookup
                      [(model)]="selectedProductId"
                      (onSelect)="addItem($event)"
                      [clearOnSelect]="true"
                      (onKeydown)="onKeydown($event)">
      </product-lookup>
    </div>
    <div class="sixteen wide column">
      <grid #grid [columns]="columns"
            [dataSource]="invoice.items"
            [(selectedIndex)]="selectedIndex"
            (rowClick)="onSelect($event)"
            (select)="onSelect($event)"
            (delete)="onDelete($event)"
            [showFooter]="true">
      </grid>
    </div>
  </div>  
  <flyout #flyout [closable]="false" [containerSelector]="'.retail'" (onHide)="onFlyoutHide()">
    <content>
      <qty-editor #qtyEditor *ngIf="flyoutView == 'qtyEditor'"
                  [item]="selectedItem"
                  (commit)="onItemChange($event)"
                  (cancel)="flyout.hide()"
                  ></qty-editor>
      <payment #paymentView *ngIf="flyoutView == 'payment'"
               [invoice]="invoice"
               (complete)="onPaymentComplete($event)"
               (cancel)="flyout.hide()">
      </payment>
    </content>
  </flyout>
  <button mat-fab color="accent">
    <mat-icon>add</mat-icon>
  </button>
</div>
