.retail {
  .grid.item-container .column {
    padding: 0 !important;
  }

  .mat-form-field-suffix {
    padding-bottom: 4px !important;
  }

  .toolbar {
    .mat-toolbar {
      &.draft {
        border-left: 8px solid #f442cb !important;
      }

      &.new {
        border-left: 8px solid #f2da3e !important;
      }

      &.paid {
        border-left: 8px solid lightgreen;
      }

      &.cancelled {
        border-left: 8px solid red;
      }
    }

    .dropdown .item {      
      &.new {
        border-left: 4px solid #f2da3e !important;
      }

      &.paid {
        border-left: 4px solid lightgreen !important;
      }

      &.cancelled {
        border-left: 4px solid red !important;
      }

      .search-item {
        div:not(:first-child) {
          margin-top: 12px;
        }
      }
    }
  }

  .toolbar-search {
    color: white;
    font-size: 12px;

    .dropdown-container {
      width: 400px;

      .icon {
        color: white;

        &:before {
          border-color: rgba(255, 255, 255, 0.5) !important;
        }

        &:after {
          border-color: white transparent transparent !important;
        }
      }

      .text {
        color: white !important;
      }

      input.search {
        color: white !important;
      }

      .mat-form-field-underline.highlight {
        border-bottom: initial;
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .mat-footer-cell div {
    &.balance {
      border-top: 1px solid lightgrey;
      padding-top: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .item-desc {
    padding-top: 8px;

    p {
      margin-bottom: 8px;
    }

    .spec {
      color: green;
      font-style: italic;
      font-size: 12px;
    }

    .notes {
      color: #ad4040;
      font-style: italic;
      font-size: 12px;
    }
  }

  .price-tag {
    position: absolute;
    right: 30px;
    top: 4px;
  }
}
