.product-lookup-dialog {
  height: 500px !important;

  .dropdown-container {
    min-width: 675px;
  }

  .price-tag {
    position: relative;
    right: 28px; 
    top: -52px;
    float: right;
  }

  .fields {
    width: 100%;
  }
}
