<div>
  <div class="ui grid">
    <div class="sixteen wide column">
      <typeahead #customerLookup [options]="customers"
                 [(model)]="invoice.customerId"
                 (search)="onSearch($event)"
                 [isLoading]="isLoading"
                 [valueMember]="'id'"
                 [displayMember]="'name'"
                 [label]="'Nhập mã, tên, SĐT hoặc email để tìm khách hàng'"
                 [floatLabel]="'never'"
                 [showOnDown]="false"
                 [requestForOption]="requestForCustomer.bind(this)"
                 [itemTemplate]="itemTemplate">
        <ng-template #itemTemplate let-item="item">
          <div>{{item.name}}</div>
          <div style="color: grey; margin-top: 8px">{{item.phone}}</div>
          <div style="color: grey; margin-top: 8px">{{item.email}}</div>
        </ng-template>
      </typeahead>
    </div>    
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tổng" number [model]="invoice.total" [readonly]="true" required>
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tiền mặt" number [(model)]="payment.amount">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tiền thừa"
               number [model]="payment.amount - invoice.total > 0 ? payment.amount - invoice.total : ''"
               [readonly]="true">
      </mat-form-field>
    </div>
  </div>  
  <div class="actions">
    <button mat-flat-button color="primary" (click)="doComplete()">Hoàn tất (F9)</button>
  </div>
</div>
