<div>
  <div class="ui grid">
    <div class="sixteen wide column">
      <customer-lookup [(model)]="payment.customerId"></customer-lookup>
      <div class="error" *ngIf="errors.has('customer')">{{errors.get('customer')}}</div>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tổng" number [model]="invoice.computedTotal" [readonly]="true" required>
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tiền mặt" number [(model)]="payment.amount" required>
      </mat-form-field>
      <div class="error" *ngIf="errors.has('amount')">{{errors.get('amount')}}</div>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tiền thừa"
               number [model]="payment.amount - invoice.computedTotal > 0 ? payment.amount - invoice.computedTotal: ''"
               [readonly]="true">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <textarea matInput placeholder="Ghi chú" [(ngModel)]="invoice.notes"></textarea>
      </mat-form-field>
    </div>
  </div>  
  <div class="actions">
    <button mat-flat-button (click)="doCommit()">Thanh toán</button>
    <button mat-flat-button color="primary" (click)="doCommit(true)">Thanh toán & In (F9)</button>
  </div>
</div>
