<dropdown #dropdown [options]="options"
          [isLoading]="isLoading"
          [(model)]="model"
          [valueMember]="valueMember"
          [displayMember]="displayMember"
          [label]="label"
          [floatLabel]="floatLabel"
          [direction]="direction"
          [showOnFocus]="false"
          [showOnDown]="showOnDown"
          [preventKeys]="preventKeys"
          (show)="onShow()"
          (hide)="onHide()"
          [itemTemplate]="itemTemplate"
          (keydown)="onKeydown($event)"
          (select)="onSelect($event)"
          [requestForOption]="requestForOption"
          (focus)="onFocus()"
          (blur)="onBlur()">   
</dropdown>
