<dropdown #dropdown [options]="options"
          [isLoading]="isLoading"
          [(model)]="model"
          [valueMember]="valueMember"
          [displayMember]="displayMember"
          [label]="label"
          [floatLabel]="floatLabel"
          [direction]="direction"
          [showOnFocus]="false"
          [showOnDown]="showOnDown"
          [preventKeys]="preventKeys"
          [itemTemplate]="itemTemplate"
          [itemClass]="itemClass"
          [requestForOption]="requestForOption"
          (show)="onShow()"
          (hide)="onHide()"          
          (onKeydown)="onKeydown($event)"
          (select)="onSelect($event)"          
          (focus)="onFocus()"
          (blur)="onBlur()">   
</dropdown>
