<div class="ui grid">
  <div class="sixteen wide column">
    <mat-form-field>
      <input #customerNameInput matInput [(ngModel)]="model.name" placeholder="Tên KH" />
    </mat-form-field>
  </div>
  <div class="eight wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="model.phoneNumber" placeholder="Số ĐT" />
    </mat-form-field>
  </div>
  <div class="eight wide column">
    <dropdown [options]="customerTypes"
              [valueMember]="'id'"
              [displayMember]="'name'"
              [(model)]="model.typeId"
              [label]="'Loại KH'">
    </dropdown>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="model.email" placeholder="Email" />
    </mat-form-field>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="model.address" placeholder="Địa chỉ" />
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-flat-button (click)="doCancel()">Hủy (Esc)</button>
    <button mat-flat-button (click)="doSearch()" color="primary">Tìm (F4)</button>
  </div>
</div>
