<div class="ui grid">
  <div class="sixteen wide column">
    <mat-form-field>
      <input #customerNoInput matInput [(ngModel)]="model.no" placeholder="Mã KH" />
    </mat-form-field>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="model.name" placeholder="Tên KH" />
    </mat-form-field>
  </div>
  <div class="eight wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="model.phone" placeholder="Số ĐT" />
    </mat-form-field>
  </div>
  <div class="eight wide column">
    <dropdown [options]="customerTypes"
              [valueMember]="'id'"
              [displayMember]="'name'"
              [(model)]="model.typeId"
              [label]="'Loại KH'">
    </dropdown>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="model.email" placeholder="Email" />
    </mat-form-field>
  </div>  
  <div class="sixteen wide column">
    <div class="sixteen wide column">
      <mat-checkbox [(ngModel)]="model.includeDeleted">Bao gồm các khách hàng đã xóa</mat-checkbox>
    </div>
  </div>
  <div class="actions">
    <button mat-flat-button (click)="clear()">Xóa</button>
    <button mat-flat-button (click)="doSearch()" color="primary">Tìm (F9)</button>
  </div>
</div>
