.toolbar {
  .mat-toolbar {
    height: 40px !important;
    background-color: #666f70;
    justify-content: space-between;
    padding: 0 8px !important;

    .left, .right {
      display: flex;
      align-items: center;
    }

    .title {
      color: white;
      font-size: 16px;
    }

    .actions {
      color: white;

      .mat-button {
        min-width: 48px;
        padding: 0 8px;
      }
    }
  }
}
