<div class="product-list">
  <div class="toolbar-container">
    <mat-toolbar class="mat-elevation-z1">      
      <button mat-button style="color: white" (click)="showSearchView()">
        <mat-icon>filter_list</mat-icon>
        (F2)
      </button>
    </mat-toolbar>    
  </div>  
  <div style="margin-top: 8px"></div>
  <grid #grid [columns]="columns" [dataSource]="products" (rowClick)="onSelect($event)" (select)="onSelect($event)"></grid>
  <flyout #flyout [closable]="false" [containerSelector]="'.product-list'">
    <content>
      <product #productView *ngIf="flyoutView == 'product'" [id]="selectedProduct.id" (complete)="flyout.hide()"></product>
      <product-search #productSearchView *ngIf="flyoutView == 'search'" (search)="onSearch($event)" (cancel)="flyout.hide()"></product-search>
    </content>        
  </flyout>
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
