<div class="customer-list" tabindex="0">
  <toolbar [showProgress]="isLoading">
    <toolbar-title>Quản lý khách hàng</toolbar-title>
    <actions>
      <button mat-button (click)="add()">
        <mat-icon>add</mat-icon>
        (F2)
      </button>
      <button mat-button (click)="showSearchView()">
        <mat-icon>filter_list</mat-icon>
        (F7)
      </button>
    </actions>
  </toolbar>
  <div class="autoflow">
    <grid #grid [columns]="columns"
          [dataSource]="customers"
          [defaultSort]="{ orderBy: 'no', isDesc: true }"
          (rowClick)="onSelect($event)"
          (select)="onSelect($event)"
          (delete)="onDelete($event)"
          (sortChange)="onSortChange($event)"
          [height]="height"
          [rowClass]="getRowClass">
    </grid>
  </div>  
  <mat-paginator [showFirstLastButtons]="true" [length]="total" [pageIndex]="searchModel.index - 1" [pageSize]="config.size" (page)="onPageChanged($event)"></mat-paginator>
  <flyout #flyout [containerSelector]="'.customer-list'"
          (onHide)="onFlyoutHide()"
          (onShow)="onFlyoutShow()"
          [class]="flyoutView == 'customer' ? 'x-wide' : ''">
    <content>
      <customer-search #searchView
                       *ngIf="flyoutView == 'search'"                       
                       (search)="onSearch($event)"
                       (cancel)="flyout.hide()">
      </customer-search>
      <customer #customerView
                *ngIf="flyoutView == 'customer'"
                [id]="selectedCustomer.id"
                (cancel)="flyout.hide()"
                (commit)="onCommit()"></customer>
    </content>
  </flyout>  
</div>
