.grid-container {
  .mat-table {
    cursor: pointer;
    width: 100%;

    .mat-header-cell {
      font-size: 16px;
      font-weight: 600;
    }

    .mat-row {
      height: 40px !important;

      &.highlighted {
        background-color: yellow;
      }

      &:hover {
        background-color: #F1F1F1;
        transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      }

      .mat-cell {
        font-size: 16px;
      }
    }

    .mat-footer-row {
      .mat-footer-cell {
        font-weight: bold !important;
        padding: 8px 0;
        font-size: 18px;
        color: #d63737;
      }
    }
  }

  .virtual-scroll-viewport {
    overflow: overlay !important;

    table {
      tr td {
        border-bottom: 1px solid rgba(0,0,0,.12);
        font-size: 16px;

        &:first-child {
          padding-left: 24px;
        }
      }
    }
  }
}
