.dropdown-container {
  margin-top: -10px;

  .ui.dropdown {
    width: 100% !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
    min-height: 25px !important;
    background-color: transparent;

    &:hover, &.active {
      border: none !important;
      box-shadow: none !important;
    }

    select {
      -webkit-appearance: none;
    }

    .menu {
      margin-top: 6px !important;

      .item {
        font-size: 13px;
        padding: 12px;
        border-top: 1px solid whitesmoke !important;

        &.selected {
          background-color: yellow;
        }
      }
    }

    .dropdown.icon {
      top: 8px !important;
      right: 5px !important;
    }

    input.search {
      padding-left: 0px !important;
      font-size: 16px;
      top: -3px !important;
    }

    .text {
      top: 10px !important;
      font-size: 16px;
    }

    @media only screen and (min-width: 768px) {
      .menu {
        max-height: 400px !important;
      }
    }
  }

  .mat-form-field-label-wrapper {
    top: -18px !important;
  }

  .mat-form-field-label {
    top: 32px !important;
  }

  .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    content: none;
  }

  .mat-form-field-underline.highlight {
    border-bottom: 2px solid #3F51B5;
  }
}
