<div class="dropdown-container">
  <mat-form-field [floatLabel]="floatLabel">
    <mat-label *ngIf="floatLabel != 'never'">{{label}}</mat-label>
    <div class="ui fluid search selection dropdown" [class.loading]="isLoading">
      <input style="display: none" matInput [ngModel]="model">      
      <i class="dropdown icon"></i>
      <div class="default text">{{floatLabel == 'never' ? label : ''}}</div>
      <div class="menu">
        <div class="item" *ngFor="let option of bindingOptions" [attr.data-value]="option[valueMember]" [attr.data-text]="option[displayMember]">
          <ng-template #defaultTemplate>{{option[displayMember]}}</ng-template>
          <ng-container *ngTemplateOutlet="itemTemplate || defaultTemplate; context: {item: option}"></ng-container>          
        </div>
      </div>
    </div>  
  </mat-form-field>
</div>
