<div class="ui grid">  
  <div class="sixteen wide column">
    <mat-form-field>
      <input #customerNameInput matInput [(ngModel)]="customer.name" placeholder="Tên KH" required />
    </mat-form-field>
    <div class="error" *ngIf="errors.has('name')">{{errors.get('name')}}</div>
  </div>
  <div class="eight wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="customer.phone" placeholder="Số ĐT" />
    </mat-form-field>
  </div>
  <div class="eight wide column">
    <dropdown [options]="customerTypes"
              [valueMember]="'id'"
              [displayMember]="'name'"
              [(model)]="customer.typeId"
              [label]="'Loại KH'">
    </dropdown>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="customer.email" placeholder="Email" />
    </mat-form-field>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <input matInput [(ngModel)]="customer.address" placeholder="Địa chỉ" />
    </mat-form-field>
  </div>
  <div class="sixteen wide column">
    <mat-form-field>
      <textarea matInput [(ngModel)]="customer.notes" placeholder="Ghi chú"></textarea>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-flat-button color="primary" (click)="save()">Lưu (F9)</button>
  </div>
</div>
