.user-list {
  height: 100%;

  .content {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 56px);
  }

  .list {
    cursor: pointer;
    width: 30%;
    background-color: #D3D3D3;
    margin-right: 8px;
    overflow-y: auto;
  }
}
