<div>
  <div class="ui grid">
    <div class="eight wide column">
      <mat-form-field>
        <input matInput placeholder="Mã SP" [(ngModel)]="product.no" required disabled>
      </mat-form-field>
    </div>
    <div class="eight wide column">
      <mat-form-field>
        <input #productBarcodeInput matInput placeholder="Mã vạch" [(ngModel)]="product.barcode">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tên SP" [(ngModel)]="product.name" required>
      </mat-form-field>
      <div class="error" *ngIf="errors.has('name')">{{errors.get('name')}}</div>
    </div>
    <div class="eight wide column">
      <dropdown [(model)]="product.categoryId"
                [options]="categories"
                [label]="'Loại'"
                [valueMember]="'id'"
                [displayMember]="'name'"></dropdown>
    </div>
    <div class="eight wide column">
      <dropdown [options]="uoms"
                [label]="'ĐVT'"
                [(model)]="product.uom"
                [valueMember]="'name'"
                [displayMember]="'name'">
      </dropdown>
    </div>
    <div class="eight wide column">
      <mat-form-field>
        <input matInput placeholder="Giá nhập" number [(model)]="product.cost">
      </mat-form-field>
    </div>
    <div class="eight wide column">
      <mat-form-field>
        <input matInput placeholder="Giá sỉ" number [(model)]="product.wholesalePrice">
      </mat-form-field>
    </div>
    <div class="eight wide column">
      <mat-form-field>
        <input matInput placeholder="Giá lẻ" number [(model)]="product.retailPrice">
      </mat-form-field>
    </div>
    <div class="eight wide column">
      <mat-form-field>
        <input matInput placeholder="Giá khuyến mãi" number [(model)]="product.discountPrice">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <textarea matInput placeholder="Ghi chú" [(ngModel)]="product.notes"></textarea>
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <div class="section">Quy cách</div>
      <div style="display: flex; justify-content: space-between">
        <dropdown [options]="uoms"
                  [label]="'ĐVT'"
                  [floatLabel]="'never'"
                  [(model)]="product.spec.uomId"
                  [valueMember]="'id'"
                  [displayMember]="'name'">
        </dropdown>
        <mat-form-field [floatLabel]="'never'" style="margin-left: 24px">
          <input matInput placeholder="SL" [(model)]="product.spec.qty" number />
        </mat-form-field>
      </div>      
    </div>   
  </div>
  <div class="actions">
    <button mat-flat-button color="primary" (click)="save()">Lưu (F9)</button>
  </div>
</div>
