.overview {
  padding: 16px;

  .section {
    margin-bottom: 16px;

    div {
      margin-bottom: 16px;
    }
  }

  .sub-title {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    font-weight: 600;
    color: #5D96BA;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
}
