.container {
  height: 100%;

  .sidebar {
    background-color: whitesmoke;
  }

  .content {
    height: 100%;
    padding: 0px;
    padding-right: 60px;
  }

  .sidebar {
    .item {
      height: 50px;
    }

    .icon {
      font-size: 30px;
    }
  }
}
