.container {
  height: 100%;

  .sidebar {
    background-color: whitesmoke;
  }

  .content {
    height: 100%;
    padding: 0px;
    padding-right: 60px;
  }

  .sidebar {
    .item {
      height: 50px;
    }

    .icon {
      font-size: 30px;
    }
  }
}

.login-container {
  background: #93cede;
  background: -moz-linear-gradient(45deg, #93cede 0%, #75bdd1 51%, #49a5bf 100%);
  background: -webkit-linear-gradient(45deg, #93cede 0%,#75bdd1 51%,#49a5bf 100%);
  background: linear-gradient(45deg, #93cede 0%,#75bdd1 51%,#49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 );
}
