.flyout {
  padding: 8px;

  .content {
    display: block;
    height: calc(100% - 50px);
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .mat-button, .mat-flat-button {
      margin-left: 8px;
    }
  }
}
