.flyout {
  padding: 8px;
  -webkit-transition: none !important;
  transition: none !important;

  .content {
    display: block;
    height: calc(100% - 50px);
  }

  .actions {
    position: absolute;
    bottom: 8px;
    right: 0px;

    button {
      margin-right: 8px;
    }
  }

  &.x-wide {
    width: 800px !important;
  }
}
