.flyout {
  padding: 8px;

  .content {
    display: block;
    height: calc(100% - 50px);
  }

  .actions {
    position: absolute;
    bottom: 8px;
    right: 0px;

    button {
      margin-right: 8px;
    }
  }  
}
