<div>
  <div class="ui sidebar overlay menu" style="z-index: 100"
       [class.visible]="visible"
       [class.top]="direction == 'top'"
       [class.right]="direction == 'right'"
       [class.bottom]="direction == 'bottom'"
       [class.left]="direction == 'left'"
       [class.very]="size == 'very thin' || size == 'very wide'"
       [class.thin]="size == 'thin' || size =='very thin'"
       [class.wide]="size == 'wide' || size == 'very wide'">
    <ng-content select="flyout-content"></ng-content>
  </div>
  <div class="pusher">
    <ng-content select="flyout-pusher"></ng-content>
  </div>
</div>
