<div>
  <div class="ui grid">
    <div class="sixteen wide column">
      <mat-form-field>
        <input #productNoInput matInput placeholder="Mã SP" [(ngModel)]="model.no">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Mã vạch" [(ngModel)]="model.barcode">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <mat-form-field>
        <input matInput placeholder="Tên SP" [(ngModel)]="model.name">
      </mat-form-field>
    </div>
    <div class="sixteen wide column">
      <dropdown [options]="categories"
                [label]="'Loại'"
                [displayMember]="'name'"
                [valueMember]="'id'"
                [(model)]="model.categoryId">
      </dropdown>
    </div>
    <div class="sixteen wide column">
      <mat-checkbox [(ngModel)]="model.includeDeleted">Bao gồm các sản phẩm đã xóa</mat-checkbox>
    </div>
  </div>
  <div class="actions">
    <button mat-flat-button (click)="clear()">Xóa</button>
    <button mat-flat-button color="primary" (click)="doSearch()">Tìm (F9)</button>
  </div>
</div>
