<div class="customer-list">
  <toolbar>
    <toolbar-title>Quản lý khách hàng</toolbar-title>
    <actions>
      <button mat-button (click)="showSearchView()">
        <mat-icon>filter_list</mat-icon>
        (F2)
      </button>
    </actions>
  </toolbar>
  <grid [columns]="columns" [dataSource]="customers" (rowClick)="onSelect($event)" (select)="onSelect($event)"></grid>
  <flyout #flyout [containerSelector]="'.customer-list'" (onHide)="flyoutView = ''">
    <content>
      <customer-search #searchView
                       *ngIf="flyoutView == 'search'"
                       (search)="onSearch($event)"
                       (cancel)="flyout.hide()">
      </customer-search>
      <customer #customerView
                *ngIf="flyoutView == 'customer'"
                [id]="selectedCustomer.id"
                (cancel)="flyout.hide()"
                (commit)="flyout.hide()"></customer>
    </content>
  </flyout>
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
