<typeahead #customerLookup [options]="customers"
           [(model)]="model"
           (search)="onSearch($event)"
           (select)="onSelect($event)"
           [isLoading]="isLoading"
           [valueMember]="'id'"
           [displayMember]="'name'"
           [label]="'Nhập mã, tên, SĐT hoặc email để tìm khách hàng'"
           [floatLabel]="'never'"
           [showOnDown]="false"
           [requestForOption]="requestForCustomer.bind(this)"
           [itemTemplate]="itemTemplate"
           [preventKeys]="preventKeys">
  <ng-template #itemTemplate let-item="item">
    <div class="dropdown-item">
      <div class="flex">
        <div>{{item.name}}<span *ngIf="!!item.phone"> - {{item.phone}}</span></div>
        <div>{{item.no}}</div>
      </div>
      <div *ngIf="!!item.address">{{item.address}}</div>
      <div *ngIf="!!item.email">{{item.email}}</div>      
    </div>
  </ng-template>
</typeahead>
