@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~angular-notifier/styles";

.ui.grid {
  margin: 0px;
}

.mat-form-field {
  width: 100% !important;
}

.mat-action-row {
  padding: 8px !important;
}

.mat-expansion-panel {
  margin-top: -6px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: whitesmoke;
}

.red {
  color: red;
}

.mat-fab {
  position: absolute !important;
  bottom: 8px !important;
  right: 8px !important;
}

.mat-dialog-container {
  h3[mat-dialog-title] {
    color: #3f3f3f;
  }

  div[mat-dialog-actions] {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    button:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.mat-progress-bar-fill::after {
  background-color: #ba5d5d !important;
}

.autoflow {
  overflow: auto;
}

.icon.close {
  color: #bc2f2f;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  z-index: 2;
}

.mat-dialog-container h3[mat-dialog-title] {
  position: relative;

  .icon.close {
    right: -16px;
    top: -16px;
  }
}

.error {
  color: #F44336; 
}

.mat-button[disabled] {
  color: lightgrey !important;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mat-radio-button {
    margin-bottom: 16px;
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.mat-pseudo-checkbox-checked::after {
  top: 0.4px !important;
  left: 0px !important;
  width: 12px !important;
  height: 8px !important;
}

.sidebar {
  .subtitle {
    width: 105%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    padding-left: 12px;
    background-color: #778899;
    margin-bottom: 8px;
    margin-left: -8px;
    margin-right: -12px;
    color: white;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mat-paginator-container {
  min-height: 48px !important;
  border-top: 1px solid lightgrey;
}

.screen-locker {
  background-color: black;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;

  .msg {
    color: white;
    font-size: 24px;
    margin: auto;
  }
}

.pipe {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 2px solid lightgrey;
}

.mat-form-field-label-wrapper {
  top: -16px !important;
  padding-top: 16px !important;
}

.mat-form-field-label {
  font-size: 16px !important;
}

.mat-form-field-should-float {
  .mat-form-field-label-wrapper {
    top: -20px !important;
  }

  .mat-form-field-label {
    font-size: 18px !important;
  }
}

.mat-row.deleted {
  td:first-child {
    border-left: 4px solid red;
  }
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #2a87c1;
}

.mat-flat-button.mat-primary {
  background-color: #2a87c1 !important;
}
