@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ui.grid {
  margin: 0px;  
}

.mat-form-field {
  width: 100% !important;
}

.mat-action-row {
  padding: 8px !important;
}

.mat-toolbar {
  margin-left: -8px;
  height: 40px !important;
  width: calc(100% + 16px) !important;
  margin-bottom: 8px;
  background-color: #c69999;
  justify-content: flex-end;

  .mat-button {
    min-width: 48px;
    padding: 0 8px;
  }
}

.mat-expansion-panel {
  margin-top: -6px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: whitesmoke;
}

.red {
  color: red;
}

.mat-fab {
  position: absolute !important;
  bottom: 8px !important;
  right: 8px !important;
}

.action {
  position: absolute;
  bottom: 8px;
  right: 0px;

  button {
    margin-right: 8px;
  }
}

.mat-dialog-container {
  h3[mat-dialog-title] {
    color: #3f3f3f;
  }

  div[mat-dialog-actions] {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}

