@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ui.grid {
  margin: 0px;  
}

.mat-form-field {
  width: 100% !important;
}

.mat-action-row {
  padding: 8px !important;
}

.toolbar-container {
  .mat-toolbar {
    margin-top: -8px;
    margin-left: -8px;
    height: 48px !important;
    width: calc(100% + 16px) !important;
    margin-bottom: 8px;
    background-color: #c69999;
    justify-content: flex-end;

    .mat-button {
      min-width: 48px;
      padding: 0 8px;
    }
  }

  .mat-expansion-panel {
    margin-top: -6px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: whitesmoke;
  }
}

