<typeahead #typeahead [options]="products"
           [(model)]="model"
           (search)="onSearch($event)"
           [isLoading]="isLoading"
           [valueMember]="'id'"
           [displayMember]="'name'"
           [label]="'Nhập mã hoặc tên để tìm sản phẩm'"
           [floatLabel]="'never'"
           [direction]="direction"
           (keydown)="onKeydown($event)"
           (select)="onSelect($event)"
           [showOnDown]="false"
           [preventKeys]="preventKeys"
           (show)="onShow()"
           (hide)="onHide()"
           [requestForOption]="requestForProduct.bind(this)"
           [itemTemplate]="itemTemplate"
           [showNoResults]="showNoResults">
  <ng-template #itemTemplate let-item="item">
    <div class="flex">
      <div style="padding-top: 3px">{{item.name}}<span class="pipe" style="color: grey;">{{item.no}}</span></div>
      <div>{{getPrice(item)}}</div>
    </div>    
  </ng-template>  
</typeahead>
