<typeahead [options]="products"
           [(model)]="model"
           (search)="onSearch($event)"
           [isLoading]="isLoading"
           [valueMember]="'id'"
           [displayMember]="'name'"
           [label]="'Nhập mã hoặc tên để tìm sản phẩm'"
           [floatLabel]="'never'"
           [direction]="direction"
           (keyup)="onKeyup($event)">
  <items>
    <div class="item" *ngFor="let product of products" [attr.data-value]="product.id">
      <div style="display: block; font-weight: 600">{{product.name}}</div>
      <div style="display: block; margin-top: 8px">{{product.no}} {{product.uom}}</div>
    </div>
  </items>
</typeahead>
