<typeahead #typeahead [options]="products"
           [(model)]="model"
           (search)="onSearch($event)"
           [isLoading]="isLoading"
           [valueMember]="'id'"
           [displayMember]="'name'"
           [label]="'Nhập mã hoặc tên để tìm sản phẩm'"
           [floatLabel]="'never'"
           [direction]="direction"
           (keydown)="onKeydown($event)"
           (select)="onSelect($event)"
           [showOnDown]="false"
           [preventKeys]="preventKeys"
           (show)="onShow()"
           (hide)="onHide()"
           [requestForOption]="requestForProduct.bind(this)"
           [itemTemplate]="itemTemplate"
           [showNoResults]="showNoResults">
  <ng-template #itemTemplate let-item="item">
    <div *ngIf="!!item.uom">{{item.name}} ({{item.uom.name}})</div>
    <div *ngIf="!item.uom">{{item.name}}</div>
    <div style="color: grey; margin-top: 8px">{{item.no}}</div>
  </ng-template>  
</typeahead>
